{{! Use the main layout defined in main.handlebars }}
{{!< layout "main"}}

<main class="dashboard-container">
	<section class="user-actions">
		<h2>Welcome, {{user_name}}!</h2>
		<button onclick="location.href='/create-post'" class="btn">Create New Post</button>
	</section>

	<section class="user-posts">
		<h3>Your Posts</h3>
		{{#if user_posts.length}}
			<ul class="posts-list">
				{{#each user_posts}}
					<li class="post-item">
						<h4>{{this.title}}</h4>
						<p>{{this.summary}}</p>
						<button
							onclick="location.href='/edit-post/{{this.id}}'"
							class="btn"
						>Edit</button>
					</li>
				{{/each}}
			</ul>
		{{else}}
			<p>You have not created any posts yet.</p>
		{{/if}}
	</section>
</main>

<footer class="site-footer">
	<p>© 2024 GeekSpeak Blog</p>
</footer>

<script>
	// Add any JavaScript you need for your dashboard here
</script>